.Cajaexterna{
 padding: 40px 20px 70px 100px;
 border: 20px solid #9900ff;
 border-left: 10px solid #9900ff;
 border-right: 10px solid #9900ff;
 background-color: #F9CB9C;
 }
.Cajainterna{
	background-color: pink;
	text-align: center;	
	border:2px dashed #38761D;
	line-height: 50px;
}

